/*Основные элементы*/

body {
    background: url(../img/bg.png);
    background-size: 10px;
}

/*Хэдер, навигация*/
.header {
    background: rgba(25, 25, 25, 1);
    background-image: url(../img/b.svg);
    background-size: 5px;
    border-bottom: 10px solid #fca946;
    box-sizing: border-box;
}
.header .header-wrap {
    margin: 0 auto;
}
.header__link {
    padding-right: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
.navbar {
    height: 100%;
}
.header .header__link:hover {
    color: #fca946;
}
.header__logo {
    margin: 20px auto;
}

/*Слайдер*/
.slider-body {
    position: relative;
}
#main_button {
   background-color: #c80928;
   line-height: 100%;
   width: 15%;
   border-radius: 5px;
   border: none;
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size: 1em;
   cursor: pointer;
   z-index: 1000;
   outline: none;
}
#main_button a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
}
#main_button:hover {
    background-color: #9b0319;
}
.slider-body .button_block {
    margin: 0;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 17%;
}
/*Слайдер*/

/*Аппаратура*/
.Equip {
    max-width: 72.72%;
    margin: 0 auto 50px;
    text-align: right;
}
.Equip__item {
    min-height: 30%;
    width: 33%;
    background-color: #e6e6e6;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.Equip__item:hover {
    background-color: #fca946;
}
.Equip__f {
    background-image: url(../img/Micro.png);
     -webkit-transition: 0.5s ease-in-out;
     -moz-transition: 0.5s ease-in-out;
     -o-transition: 0.5s ease-in-out;
     transition: 0.5s ease-in-out;
}
.Equip__f:hover {
    background-image: url(../img/Micro1.png);
}
.Equip__s {
    background-image: url(../img/phones.png);
     -webkit-transition: 0.5s ease-in-out;
     -moz-transition: 0.5s ease-in-out;
     -o-transition: 0.5s ease-in-out;
     transition: 0.5s ease-in-out;
}
.Equip__s:hover {
    background-image: url(../img/phones1.png);
}
.Equip__t {
    background-image: url(../img/preamp.png);
     -webkit-transition: 0.5s ease-in-out;
     -moz-transition: 0.5s ease-in-out;
     -o-transition: 0.5s ease-in-out;
     transition: 0.5s ease-in-out;
}
.Equip__t:hover {
    background-image: url(../img/preamp1.png);
}
.Equip__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 20px 30px 20px 30px;
    text-align: left;
}
.Equip__title {
    width: 30%;
    height: 75px;
    background-color: #fca946;
    color: white;
    display: inline-block;
    margin: -50px 250px 0 0;
}
.Equip__title span {
    display: block;
    line-height: 75px;
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

/*Кольца декор*/
.circle_wrap {
    width: 100%;
    margin-bottom: 50px;
}
.circle_wrap__item {
    display: block;
    height: 25px;
    width: 25px;
    border: #bebebe solid 5px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.circle_wrap__item_gray {
    border: #bebebe solid 5px;
}
.circle_wrap__item_black {
    border: #000000 solid 5px;
}
.circle_wrap__item_orange {
    border: #F0AF00 solid 5px;
 }

/* Цены */
 .block-price {
    width: 100%;
    margin-bottom: 50px;
    background: url(../img/bg.png);
    background-size: 10px;
    background-color: #bababa;
    border-top: 40px double white;
    border-bottom: 40px double white;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.block-price .coins_block {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
}
.block-price h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;
}
.block-price h1:after {
    content: " ";
    background-color: #fff;
    width: 20%;
    height: 10px;
    display: block;
    text-align: center;
    margin: 20px auto; 
}
.block-price__text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.4em;
    text-align: left;
}

/* Слайдер отзывы*/
.translators {
    width: 1140px;
    margin: 0 auto;
}
.translators h1 {
    font-family: 'Roboto', sans-serif;
    color: #b0b0b0;
    font-size: 3em;
    margin-left: 15px;
}
.translators__item {
    min-height: 455px;
    background-color: white;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    border: 5px solid #bebebe;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.line_decor {
    background-color: #fca946;
    height: 100px;
    width: 100%;
    z-index: 0;
    position: absolute;
    bottom: 50%; 
}
.translators .owl-carousel .translators__item img {
    width: 70%;
    margin: 30px auto 0;
}
.line_in {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #bebebe;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}
.text_in {
    padding: 25px 25px 25px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.tr_wrap {
    position: relative;
    margin-bottom: 50px;
}
.owl-theme .owl-nav {
    position: absolute;
    bottom: 40%;
    width: 100%;
}
.owl-prev {
    position: absolute;
    left: 0;
}
.owl-next {
    position: absolute;
    right: 0;
}
/* Карта*/
.map_wrapper {
    width: 100%;
    height: 600px;
    background-color: #b5b5b5;
    position: relative;
    border-top: 40px double white;
    border-bottom: 40px double white;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.map_ya {
    padding: 0 0 20% 0;
}
.map_wrapper h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin: 15px;
}
.adress__plank {
    height: 12%;
    width: 25%;
    background-color: #000000;
    position: absolute;
    bottom: 5%;
    left: 25%;
    background-color: #fca946;
    border: 5px solid #b5b5b5;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.2em;
}
.adress__plank span {
    color: black;
}
/*Форма*/
#form_wrap {
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.high_block {
    background-color: #fca946;
    background-image: url(../img/sprite.png);
    height: 400px;
    text-align: center;
}
.low_block {
    background-color: #b5b5b5;
    background-image: url(../img/sprite.png);
    height: 100px;
}
.high_block__title {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 70px;
    font-size: 3em; 
    margin-bottom: 60px;
}
.high_block .name {
    height: 40px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #b5b5b5;
    color: white;
    margin-left: 16px;
    outline: none;
    border: 1px solid black;
}
.high_block .tel {
    height: 40px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #b5b5b5;
    color: white;
    outline: none;
    border: 1px solid black;
}
.high_block p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    color: white;
}
.btn {
   background-color: #c80928;
   line-height: 60px;
   width: 15%;
   border-radius: 5px;
   border: none;
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size: 1.2em;
   cursor: pointer;
   outline: none;
   margin: 3% 0 0 28%;
   box-shadow: 0 0 5px black;
}
.btn:hover {
    background-color: #9b0319;
    box-shadow: none;
}
.name::-webkit-input-placeholder { /* WebKit browsers */
   color: #e9e9e9;
   padding-left: 10px;
}
.tel::-webkit-input-placeholder { /* WebKit browsers */
   color: #e9e9e9;
   padding-left: 10px;
}
/*ФУТЕР*/
.footer {
    height: 380px;
    background-color: #7c7c7c;
    border-top: 5px solid #fca946;
    
}
.footer_wrap {
    margin: 0 auto;
    margin-top: 50px;
}
.footer__info {
    display: flex;
    justify-content: space-around;
}
.footer_menu {
    display: flex;
    flex-direction: column;
} 
.footer_menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    padding-top: 10px;
}
.footer_menu a:hover {
    color: #1c1c1c;
}
.footer_ico>* {
    width: 50px;
    height: 50px;
}
.footer_adr {
    display: flex;
    margin-top: 3%;
    margin-left: -7%;
}
.adr__block {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 20px;
}
.ico1 {
    background-image: url(../img/sprite1.png);
    background-position: -8px -5px;
}
.ico1:hover {
    background-image: url(../img/sprite1.png);
    background-position: -69px -5px;
}
.ico2 {
    background-image: url(../img/sprite1.png);
    background-position: -2px -58px;
}
.ico2:hover {
    background-image: url(../img/sprite1.png);
    background-position: -65px -58px;
}
.ico3 {
    background-image: url(../img/sprite1.png);
    background-position: -6px -114px;
}
.ico3:hover {
    background-image: url(../img/sprite1.png);
    background-position: -65px -114px;
}
.ico4 {
    background-image: url(../img/sprite1.png);
    background-position: -5px -165px;
}
.ico4:hover {
    background-image: url(../img/sprite1.png);
    background-position: -65px -165px;
}
.ico5 {
    background-image: url(../img/sprite1.png);
    background-position: -10px -218px;
}
.ico5:hover {
    background-image: url(../img/sprite1.png);
    background-position: -71px -218px;
}
